* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix {
  padding: 30px;
  text-align: justify;
}

.float-end {
  padding: 10px;
  height: 150px;
  width: 150px;
}

.float-start {
  padding: 10px;
  height: 150px;
  width: 150px;
}

.tresD {
  height: 400px;
  width: 220px;
  position: relative;
  perspective: 1000px;
  margin: 0 auto;
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.tresD:hover .front {
  transform: rotateY(-180deg);
}

.tresD:hover .back {
  transform: rotateY(0deg);
}

#players {
  margin: 0 auto 50px;
  width: 250px;
  border: 2px solid black;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

h3 {
  font-size: 24px;
  color: #333;
}

label {
  font-size: 16px;
  color: #666;
}

#submit {
  margin-top: 4px;
  height: 25px;
  width: 150px;
  font-size: 14px;
}

#jogadorAtual {
  margin: 0 auto 50px;
  width: 250px;
  border: 2px solid black;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

#jogadorAtualh3 {
  font-size: 24px;
  color: #333;
}

#table {
  margin: 0 auto;
  width: 400px;
  border: 2px solid black;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

#table tr {
  height: 100px;
}

#table td {
  width: 100px;
  border: 1px solid black;
  font-size: 100px;
}

#table td:hover {
  border: 3px solid black;
  cursor: pointer;
}

#jogo {
  padding-bottom: 50px;
}
